dist
build
bin
target
.pmd
.idea
/tests/
/coverage/
/cobertura.ser
MANIFEST.MF
.project
.classpath
**/.project
**/.classpath
*.class
*.jar
*.zip
*.bak
*/target/*
*/temp_persist_config_*.xml
*/src/main/resources/buildinfo.properties
/.settings/
**/.settings/*
**/*.iml
*.log
*.DS_Store
